
/* DEFAULT SIZES */
p, a{
	font-size: .85em;                /* <-- ALL OTHER SIZES ARE RELATIVE TO THIS ONE*/
	font-family: 'Lora', serif;
	color: inherit;  
} 

h1, h2, h3, h4, h5{
	font-family: 'Arvo', serif;
	color: inherit;  
}

h1{
	font-size: 2em;
}

h2{	
	font-size: 1.5em;
}

h3{
	font-size: 1.2em;
}

h4{
	font-size: .75em;
}

h5{
	font-size: .6em;
}

small{
	font-size: .5em;
}

