/* DEFAULT FONTS */
html {
	background-color: black;       /* TRANSITION START COLOR */
}

body {
	color: white; 
	background-color: black;	
	overflow: visible !important;  /* KEEPS MODALS FROM ADDING AN EXTRA LAYER OF SCROLLBARS */
}

a:hover{
	color: inherit;
	text-decoration: none;  
}

input{
	padding: 8px; 
	margin-bottom: 15px; 
	border: 1px solid rgba(0, 0, 0, .25);
}


input.ng-invalid {
	color: red;
	border: 1px red solid;
}

label{
	color: inherit; 
}


/* CODE AND PRE */
pre,
code  {font-family: consolas, courier, monospace;
       font-size: 1em;
       line-height: 1.2em;
       white-space: pre; 
       background-color: white; 
       color: gray; /* likewise the background-color comment */
       border: 1px solid #008cba;
       -moz-border-radius: .2em;
       -webkit-border-radius: .2em;
       border-radius: .2em; /* just in case */
       padding: 1em;
       width: 100%;        
       margin-top: 1em;
       margin-bottom: 1em;
}

pre:hover{
	color: black; 
}




/* HEADER MAIN */
#headerMain a{
	font-family: 'Arvo', serif;
	color: white;
	font-size: .8em;
}

#headerMain .header-bar{
	background-color: rgba(100, 150, 87, 1); 
	color: white; 
	width: 100%; 
	height: auto; 
	padding: 10px
}

/*FOOTER */
#footer-div{
	background-color: black;
	width: 100%; 
	height: auto;
	padding: 10px;
}

#header-div{
	height: auto;
}


/* MODAL */
.read-more{
	cursor: pointer;
	color: inherit;
}

.modal-body{
	color: black;
	z-index: 999990;
}


/* CLASSES */
.fonttype-1{
	font-family: 'Arvo', serif;
}

.fonttype-2{
	font-family: 'Lora', serif;
}



.content-default-height{
	min-height: 900px /* DEFAULT MINIMUM HEIGHT */
}

.fix-a{	
	text-decoration: none;
	cursor: pointer; 	
}

.ta-editor{
	padding: 10px; 
	background-color: white; 
}

.initialHide{
	height: 0px;
	opacity: 0;
}

.doNotDisplay{
	display: none;
}

.hidden{
	opacity: 0px;
}

.vanish{
	opacity: 0;
	height: 0px;
	transition: .25s;
	pointer-events: none;
}

.reveal{
	opacity: 1;
	height: auto;
	transition: .25s;
	pointer-events: auto;
}

