<div ng-init="init()">
	
		<div class="container" style='border: 10px'>
			
			<br>
			
			<button class="small-12 button alert columns" ng-click='offcanvasLogin()'>
				<i class="fa fa-2x" ng-class='{true: "fa-sign-out", false: "fa-sign-in"}[masterData.logState]'></i>
				<br>
				<small ng-if="masterData.logState == true">Logout</small>
				<small ng-if="masterData.logState == false">Login</small>	
			</button>				
			
			
			
			<button class="small-12 button columns" ng-click="offcanvasToggle('admin')">
				<i class="fa fa-bookmark-o fa-2x"></i>
				<br>
				<small>Admin</small>	
			</button>				
			
			<button class="small-6 button success columns" ng-click="offcanvasToggle('home')">
				<i class="fa fa-home fa-2x"></i>
				<br>
				<small>Home</small>	
			</button>
	
			<button class="small-6 button  button columns" ng-click="offcanvasToggle('page2')">
				<i class="fa fa-bookmark-o fa-2x"></i>
				<br>
				<small>Page 2</small>	
			</button>		
			
			<br>
			
			<button class="small-6 button  columns" ng-click="offcanvasToggle('page3')">
				<i class="fa fa-bookmark-o fa-2x"></i>
				<br>
				<small>Page 3</small>	
			</button>				
			
			<br>
			
			<button class="small-6 button success columns" ng-click="offcanvasToggle('page4')">
				<i class="fa fa-bookmark-o fa-2x"></i>
				<br>
				<small>Page 4</small>	
			</button>	
			
			<br>
			
			<button class="small-6 button success columns" ng-click="offcanvasToggle('page5')">
				<i class="fa fa-bookmark-o fa-2x"></i>
				<br>
				<small>Page 5</small>	
			</button>	
			
			<button class="small-6 button columns" ng-click="offcanvasToggle('page6')">
				<i class="fa fa-bookmark-o fa-2x"></i>
				<br>
				<small>Page 6</small>	
			</button>	
			

			
			<button  class="small-12 button alert columns" ng-click="close('')">
				<i class="fa fa-caret-square-o-left fa-2x"></i>
				<br>
				<small>Close</small>	
			</button>		
			

			
		</div>	
	
</div>
				
