<div ng-init="init()">

	<i class='fa fa-3x' ng-class="{true: ' fa-arrow-circle-o-left', false: 'fa-arrow-circle-o-right'}[page.isCanvasOpen]" style="color: rgba(200, 255, 255, .55)" ng-click="offCanvasRevel()"></i>
	
	<br>
</div>
