<div id='content-page' class='initialHide' >

	<!-- PAGE NAME -->
	<div ng-if='page.isLoaded == true'>
		<div class="row">
			<div class="small-12 columns">
					<gap></gap>
						<h1>PAGE 5 (DESKTOPS)</h1>				
					<gap></gap>			
			</div>		
		</div>
	</div>	
	
</div>