<div class="small-12 flat-secondary fonttype-1">
	<centered>

		<br><br>		

		<!-- FOOTER -->
		<small>Code & Logic is created by Allen Royston | 2010-2014</small><br>
		<small>Thanks for checking out my site!</small>
		<br><br><br>
		
		<!-- INFO -->
		<a class="button tiny" ng-click="browserInfo()">Browser Info</a>		
	</centered>
</div>