<div id='content-page' class='initialHide' >
	
	<!-- PAGE NAME -->
	<div ng-if='page.isLoaded == true'>
		<div class="row">
			<div class="small-12 columns">
					<gap></gap>
					
					<h1>HOME (MOBILE)</h1>				
					<gap></gap>
					<button ng-click='testbtn1()'>Test 1</button>
					<button ng-click='testbtn2()'>Test 2</button>
					<p read-more ng-model="content" words="true" length="50"></p>			
					
					
			</div>		
		</div>	
	</div>
	
</div>