<div id='ctrl-header-main'>
	<div ng-class="{true: 'visible', false: 'hidden'}[page.isLoaded]">
		
			<div class="" style="height:5px; background-color: rgba(0, 0, 0, .2)"></div>
				
				<div sticky id="headerMain"  style="width: 100%; z-index: 990000"> 
						
						<div class="header-bar">
							<div class="row no-animation">
								<div class="small-9 columns">
									
									<centered>
										<span class="pull-left">
										     <a style="margin-right: 10px" ui-sref="admin">Admin</a>
										     <a style="margin-right: 10px" ui-sref="home">Home</a>
										     <a style="margin-right: 10px" ui-sref="page2">Page 2 </a>
										     <a style="margin-right: 10px" ui-sref="page3">Page 3 </a>
											 <a style="margin-right: 10px" ui-sref="page4">Page 4 </a>
											 <a style="margin-right: 10px" ui-sref="page5">Page 5 </a>
											 <a style="margin-right: 10px" ui-sref="page6">Page 6 </a>
										</span>
									</centered>
								</div>
			
								
								
								<div class="small-1 columns pull-right" ng-click="offcanvasToggle()">
									<centered>		
										<i class="pull-right" ng-class="{	desktop: 'fa fa-desktop ', 
																			large: 'fa fa-laptop ', 
																			medium: 'fa fa-tablet ', 
																			small: 'fa fa-mobile ', 
																			mobile: 'fa fa-mobile'}[masterData.ios]">
										</i>
										
										<i class="pull-right" ng-class="{	landscape: 'fa fa-arrows-h ',
																			portrait: 'fa fa-arrows-v '
																			}[responsive('orientation')]">
																			</i>
									</centered> 
								</div>
								
								
								<div class="small-1 columns pull-right">
											
									<div ng-class="{false: 'hidden'}[page.isLoaded]">				
										<a class='pull-right' ng-click="login()" ng-class="{true: 'hidden', false: 'visible', null: 'visible'}[masterData.logState]">Login</a>					
										<a class='pull-right' ng-click="logout()" ng-class="{false: 'hidden', true: 'visible', null: 'hidden'}[masterData.logState]">Logout</a>
									</div>
								</div>		
								
								
							</div>
								
				</div>	
					
			</div>
		
	
	</div>
</div>
